module.exports = {
  extends: ['@commitlint/config-conventional'],
  rules: {
    'type-enum': [2, 'always', [
      'feat', 'fix', 'docs', 'style', 'refactor',
      'perf', 'test', 'build', 'ci', 'chore', 'revert',
      'security', 'ai'
    ]],
    'scope-enum': [2, 'always', [
      'frontend', 'backend', 'ai', 'infra', 'docs',
      'security', 'osint', 'redteam', 'blueteam', 'reports'
    ]],
  },
};
